<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>新增科研项目</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
	<style type="text/css">
		.filedelbtn{
			margin:0 8px;
		}
		#fujian p {
			margin:2px 0;
		}
		.labelwidth{
			width: 120px;
		}
		.inputwidth{
			width: 100px;
			display:inline;
			margin:0 2px;
		}
		.thtext{
			text-align: center !important;
		}
	</style>
</head>
<body class="childrenBody">
	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">项目名称</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="name" autocomplete="off" class="layui-input" id="name" lay-verify="required" >
				    </div>
				    <label class="layui-form-label labelwidth" >项目名称(EN)</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="ename"  autocomplete="off" class="layui-input" id="ename" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">负责人</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="principal" autocomplete="off" class="layui-input" id="principal" lay-verify="required" >
				    </div>
				    <label class="layui-form-label labelwidth" >负责人(EN)</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="eprincipal"  autocomplete="off" class="layui-input" id="eprincipal" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">参与人</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="participant" autocomplete="off" class="layui-input" id="participant" >
				    </div>
				    <label class="layui-form-label labelwidth" >参与人(EN)</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="eparticipant"  autocomplete="off" class="layui-input" id="eparticipant" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">年份</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="year" autocomplete="off" class="layui-input" id="year" >
				    </div>
				    <label class="layui-form-label labelwidth" >金额(万元)</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="money"  autocomplete="off" class="layui-input" id="money" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">经费来源</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="fundsource" autocomplete="off" class="layui-input" id="fundsource" >
				    </div>
				    <label class="layui-form-label labelwidth" >经费来源(EN)</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="efundsource"  autocomplete="off" class="layui-input" id="efundsource" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">(开始)研究时间</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="restimebegin" autocomplete="off" class="layui-input" id="restimebegin" >
				    </div>
				    <label class="layui-form-label labelwidth" >(结束)研究时间</label>
				    <div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="restimeend"  autocomplete="off" class="layui-input" id="restimeend" >
				    </div>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label ">合同号</label>
					<div class="layui-input-inline" style="width: 272px;">
				      <input type="text" name="contractno" autocomplete="off" class="layui-input" id="contractno" >
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">摘要</label>
				<textarea id="digest" class="layui-textarea" style="width: 710px;height: 150px;" lay-verify="required" value=""></textarea>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label ">摘要(EN)</label>
				<textarea id="edigest" class="layui-textarea" style="width: 710px;height:150px;" value=""></textarea>
			</div>

		    <div class="layui-form-item">
		    	<label class="layui-form-label ">关联成果</label>
		    	
		    	<div class="layui-input-inline" >
		    		<div class="layui-input-inline" style="width: 272px;" >
			          <a class="layui-btn layui-btn-sm" id="glxm"><i class="layui-icon">&#xe654;</i>关联</a>
			        </div>
		    	</div>
		    </div>

		    <div id="chooseglxm">

		    </div>

		    <div class="layui-form-item">
				<label class="layui-form-label ">显示在</label>
					<div class="layui-input-block" >
				      <input type="checkbox" name="showin" value="A" title="AAA" id="AAA">
				      <input type="checkbox" name="showin" value="B" title="BBB" id="BBB">
				      <input type="checkbox" name="showin" value="C" title="CCC" id="CCC">
				      <input type="checkbox" name="showin" value="D" title="DDD" id="DDD">
				      <input type="checkbox" name="showin" value="E" title="EEE" id="EEE">
				    </div> 
	       </div>

			<div class="layui-form-item">
				<hr class="layui-bg-gray" />
				<div class="layui-col-md-offset1">
					<button class="layui-btn layui-btn-sm" lay-filter="update" lay-submit id="btnsave"><i class="layui-icon">&#xe609;</i>保存</button>
				</div>
			</div>
		</div>
	</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<!-- <script type="text/javascript" src="newsAdd.js"></script> -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
	//删除input
	function yichu(obj){
		console.log('obj',$(obj))
		$(obj).parent().remove()
		return false
	}
	//子页面调用函数
	function getSonData(sondata){
		console.log('该函数在父页面定义，供子页面调用getsondata',sondata)
		let appendstr = '',count = 0
		$('#chooseglxm').children().remove()
		$.each(sondata,function(index,item){
			count = index + 1
			//如果已经选过，则跳过不append
			appendstr = '<div class="layui-form-item" id="'+item.achid+'" tname="'+item.tname+'"><label class="layui-form-label"></label><div class="layui-input-inline" style="min-width:700px;"> '+ count + '  ' + item.achname+' </div></div>'
			$('#chooseglxm').append(appendstr)
		})
	}

	  //关联项目id合并
	  function relevanceproid(){//默认都显示isshow==1
	  	let str = ''
	  	$('#chooseglxm').children().each(function(){
	  		if($(this).attr('id')){
	  			str += $(this).attr('tname') + ',' + $(this).attr('id') + ';'
	  		}
	  	})
	  	console.log('关联成果id',str.substring(0,str.length-1))
	  	return str.substring(0,str.length-1)
	  }

	$(function(){
		let checkadmain = '<%-rolename%>'
		console.log('checkadmain',checkadmain)
		if(checkadmain=='管理员'){
			console.log('管理员可以编辑所有')
		}else{
			console.log('非管理员只能查看，或者在科研管理中发布自己的')
			$('#btnsave').addClass('layui-btn-disabled').attr('disabled',"true");
		}
		layui.use(['jquery','layer','form','laydate','upload'], function(){ 
		    let $ = layui.$, //重点处
		    	laydate = layui.laydate,
		    	upload = layui.upload
		    let form = layui.form,layer = layui.layer
		    let frameindex = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		    console.log('frameindex',frameindex)
		    //当访问的时候数据存在，初始化form
		    let id = '<%-data.id%>'
		    let manarr = [],optionstr=''//关联人员
		    if(id==''||id==null||typeof(id)=='undefined'){
		    	console.log('新增用户科研项目')
		    }else{
		    	console.log('编辑用户科研项目，需要初始化表单 ')
		    	$('#name').val('<%=data.name%>')
		    	$('#ename').val('<%=data.ename%>')
		    	$('#principal').val('<%=data.principal%>')
		    	$('#participant').val('<%=data.participant%>')
		    	$('#year').val('<%=data.year%>')
		    	$('#fundsource').val('<%=data.fundsource%>')
		    	$('#restimeend').val('<%=data.restimeend%>')
		    	$('#restimebegin').val('<%=data.restimebegin%>')
		    	$('#contractno').val('<%=data.contractno%>')
		    	$('#money').val('<%=data.money%>')
		    	$('#digest').val(('<%=data.digest%>'))
		    	$('#edigest').val('<%=data.edigest%>')
		    	$('#eprincipal').val('<%=data.eprincipal%>')
		    	$('#eparticipant').val('<%=data.eparticipant%>')
		    	$('#efundsource').val('<%=data.efundsource%>')
		    	//初始化复选框
		    	let showinstr = '<%- data.showin%>'.split(';')
		    	console.log('showinstr',showinstr)
		    	$.each(showinstr,function(i,item){
		    		if(item=='A'){
		    			$('#AAA').prop('checked',true)
		    		}
		    		if(item=='B'){
		    			$('#BBB').prop('checked',true)
		    		}
		    		if(item=='C'){
		    			$('#CCC').prop('checked',true)
		    		}
		    		if(item=='D'){
		    			$('#DDD').prop('checked',true)
		    		}
		    		if(item=='E'){
		    			$('#EEE').prop('checked',true)
		    		}
		    	})
		    	form.render()

				//初始化关联项目
				$.ajax({
					url:'/spatial/manage/glcginit',
					type:'post',
					data:{'relid':id,'tname':'project_achievement'},
					success:function(result){
						console.log('result',result)
						if(result.code==0){
							let count = 0
							if(result.data==null){
								return false
							}else{
								$.each(result.data,function(index,item){
								count = index + 1
								//如果已经选过，则跳过不append
								appendstr = '<div class="layui-form-item" id="'+item.achid+'" tname="'+item.tname+'"><label class="layui-form-label"></label><div class="layui-input-inline" style="min-width:700px;"> '+ count + '  ' + item.achname+' </div></div>'
								$('#chooseglxm').append(appendstr)
							})
							}
						}
					},
					error:function(msg){
						console.log('getrelevancepro err',msg)
					}
				})		
		    }
			
			$('#glxm').on('click',function(){
				console.log('弹框的时候需要将已选项目传到子页面判断是否已选')
				console.log('length',$('#chooseglxm').children())
				let idarr = [],tnamearr = []
				if($('#chooseglxm').children().length!=0){
					console.log('有已选项目')
					$.each($('#chooseglxm').children(),function(index,item){
						idarr.push($(item).attr('id'))
						tnamearr.push($(item).attr('tname'))
					})
					console.log('idarr',idarr)
				}
				console.log('没有已选项目')
				jsonidarr = JSON.stringify(idarr)
				jsontnamearr = JSON.stringify(tnamearr)
				console.log('父页面json,将已选数据放到全局json对象，在子页面进行判断是否已选',jsonidarr,jsontnamearr)
				layer.open({
				  title: '关联项目',
				  type: 2,
				  area: ['700px', '450px'],
				  fixed: false, //不固定
				  maxmin: true,
				  content: '/spatial/manage/userkyxmglxm'
				});
			})
		    
		    form.on('submit(update)', function(data){
			    //复选框
	            let showinarr = new Array();
	            $("input:checkbox[name='showin']:checked").each(function(i){
	                showinarr.push($(this).val())
	            })
				console.log('showinarr',showinarr)
				showinarr = showinarr.join(';')
				console.log('showinarr',showinarr)

			  //更新
			  console.log('submit data',data)
			  console.log()
			  data.field.id = id
			  data.field.name = $('#name').val()
			  data.field.ename = $('#ename').val()
			  data.field.principal = $('#principal').val()
			  data.field.eprincipal = $('#eprincipal').val()
			  data.field.year = $('#year').val()
			  data.field.fundsource = $('#fundsource').val()
			  data.field.restimebegin = $('#restimebegin').val()
			  data.field.restimeend = $('#restimeend').val()
			  data.field.digest = $('#digest').val()
			  data.field.edigest = $('#edigest').val()
			  data.field.contractno = $('#contractno').val()
			  data.field.participant = $('#participant').val()
			  data.field.efundsource = $('#efundsource').val()
			  data.field.eparticipant = $('#eparticipant').val()
			  data.field.money = $('#money').val()
			  data.field.glcgstr = relevanceproid()
			  data.field.showin = showinarr

			  console.log('用户新增项目 add  data field',data.field);
			  $.ajax({
			  	url:'/spatial/manage/userkyxmadd',
			  	type:'POST',
			  	data:data.field,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('update success',result)
			  			//墨绿深蓝风
						layer.alert('保存成功', {
						  skin: 'layui-layer-molv' //样式类名
						  ,closeBtn: 0
						  ,time : 2000
						}, function(){
							layer.close(frameindex);
							//window.location.href = '/spatial/manage/userkyxmadd?id='+result.id
						});	  			
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax error msg',msg)
			  	}
			  })
			});
		})
	})
</script>
</body>
</html>