<%include frontheader.ejs%>
<div class="wp-wrapper wp-banner listl" frag="面板21">
  <div class="wp-inner" frag="窗口21" portletmode="simpleColumnAttri">   
      <div class="banner"><img border='0' src='images/picture.jpg'  /></div>
  </div>
</div>
<!-- 科研成果 -->
<!-- 主体 -->
<div class="wp-wrapper wp-container">
  <div class="wp-inner clearfix">
    <div class="wp-column-menu">
      <div class="column-head" frag="面板6">
        <div class="column-anchor clearfix" frag="窗口6" portletmode="simpleColumnAnchor">
          <h3 class="anchor-title"><span class="Column_Anchor">科研成果</span></h3>
          <a class="column-switch"></a> 
        </div>
      </div>
      <div class="column-body" frag="面板7">
        <div class="column-list" frag="窗口7" portletmode="simpleColumnList">
          <div id="wp_listcolumn_w7"> 
            <ul class="column-list-wrap">
              <li class="column-item column-1 selected"> <a href="/kycg" title="" class="column-item-link selected"><span class="column-name">科研成果</span></a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wp-column-news">
      <div class="column-news-box">
        <div class="list-head" frag="面板8">
          <div class="list-meta clearfix" frag="窗口8" portletmode="simpleColumnAttri">
            
              <h2 class="column-title">科研成果</h2>
              <div class="column-path">
                <span class="path-name">当前位置：</span>
                <a href="/" target="_self">首页</a>
                <span class="possplit">&nbsp;&nbsp;</span>
                <a href="/kycg" target="_self">科研成果</a>
              </div>
            
          </div>
        </div>
        <div class="column-news-con" frag="面板9">
          <div class="column-news-list clearfix" frag="窗口9" portletmode="simpleList">
            <div id="wp_news_w9"> 
            <%data.forEach(function(item,i){%>
              <a class="column-news-item item-<%=i+1%> clearfix" href="/kycgdetail?id=<%=item.id%>"><span class="column-news-title"><%=item.title%></span><span class="column-news-date news-date-hide"><%=item.time%></span></a> 
            <%})%>
              
            </div> 

            <div id="wp_paging_w9"> 
              <ul class="wp_paging clearfix"> 
                   <li class="pages_count"> 
                       <!-- <span class="per_page">每页<em class="per_count">14</em>条记录</span>  -->
                       <span class="all_count">总共<em class="all_count"><%=count%></em>条记录</span> 
                   </li> 
                   <li class="page_nav"> 
                       <a class="first" href="javascript:void(0);" target="_self"><span>首页</span></a> 
                       <a class="prev" href="javascript:void(0);" target="_self"><span>上一页</span></a> 
                       <a class="next" href="javascript:void(0);" target="_self"><span>下一页</span></a> 
                       <a class="last" href="javascript:void(0);" target="_self"><span>尾页</span></a> 
                   </li> 
                   <!-- <li class="page_jump"> 
                       <span class="pages">页码：<em class="curr_page">1</em>/<em class="all_pages">1</em></span> 
                       <span><input class="pageNum" type="text"><input type="hidden" class="currPageURL" value=""></span> 
                       <span><a class="pagingJump" href="javascript:void(0);" target="_self">跳转</a></span> 
                   </li>  -->
              </ul> 
            </div> 
            <script type="text/javascript"> 
                 $().ready(function() { 
                     $("#wp_paging_w9 .pagingJump").click(function() { 
                         var pageNum = $("#wp_paging_w9 .pageNum").val(); 
                         if (pageNum === "") { alert('请输入页码！'); return; } 
                         if (isNaN(pageNum) || pageNum <= 0 || pageNum > 1) { alert('请输入正确页码！'); return; } 
                         var reg = new RegExp("/list", "g"); 
                         var url = "/2522/list.htm"; 
                         window.location.href = url.replace(reg, "/list" + pageNum); 
                     }); 
                     $("#wp_paging_w9 .first").click(function() { 
                      console.log('first')
                         let page =  Number('<%=page%>')//当前页
                         page = 1                        
                         let reg = new RegExp("/kycg", "g"); 
                         let url = "/kycg"; 
                         window.location.href = url.replace(reg, "/kycg"); 
                     }); 
                      $("#wp_paging_w9 .prev").click(function() { 
                        console.log('prev')
                         let page =  Number('<%=page%>')//当前页
                         if(page==1){return}     
                         if(page>1){page = page - 1}                   
                         let reg = new RegExp("/kycg", "g"); 
                         let url = "/kycg"; 
                         window.location.href = url.replace(reg, "/kycg?page=" + page); 
                     }); 
                      $("#wp_paging_w9 .next").click(function() { 
                        console.log('next')
                         let page =  Number('<%=page%>')//当前页
                         let count = Number('<%=count%>'),
                             allpage = Math.ceil(count/15)
                         page = page + 1
                         if(page>allpage){return}                  
                         let reg = new RegExp("/kycg", "g"); 
                         let url = "/kycg"; 
                         console.log(page,allpage,url.replace(reg, "/kycg?page=" + page))
                         window.location.href = url.replace(reg, "/kycg?page=" + page); 
                     }); 
                       $("#wp_paging_w9 .last").click(function() { 
                        console.log('last')
                         let page =  Number('<%=page%>')//当前页
                         let count = Number('<%=count%>'),
                             allpage = parseInt(count/15)
                         
                         if(page>allpage){return}          
                         page = allpage        
                         let reg = new RegExp("/kycg", "g"); 
                         let url = "/kycg"; 
                         window.location.href = url.replace(reg, "/kycg?page=" + page); 
                     }); 
                 }); 
            </script> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%include frontfooter.ejs%>