<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>新增网址链接</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
	<style type="text/css">
	.layui-table td, .layui-table th {
		text-align: center;
		min-width: 120px;
	}
	</style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote">当前位置：实验室管理 > 发布管理 > 网站链接</blockquote>

	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">
			<div class="layui-form-item">
				<label class="layui-form-label ">类别</label>
				<div class="layui-input-inline" style="width: 272px;">
		          <select name="type" id="type" lay-filter="type" lay-verify="required">
		          	  <option value=""></option>
		              <option value="网站">网站</option>
		              <option value="微博">微博</option>
		              <option value="微信">微信</option>
		          </select>
		       </div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">网站名称</label>
				<div class="layui-input-inline" style="width: 272px;">
		          <input type="text" name="name" id="name" class="layui-input" lay-verify="required" placeholder="中文名称">
		        </div>
		        <label class="layui-form-label"></label>
				<div class="layui-input-inline" style="width: 272px;">
		          <input type="text" name="ename" id="ename" class="layui-input" lay-verify="required" placeholder="英文名称">
		        </div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">网址</label>
				<div class="layui-input-inline" style="width: 272px;">
		          <input type="text" name="url" id="url" class="layui-input" lay-verify="required" placeholder="http://www.szu.edu.cn">
		       </div>
		       <label class="layui-form-label">英文版</label>
				<div class="layui-input-inline" style="width: 272px;">
		          <select name="eshow" id="eshow" lay-filter="eshow" lay-verify="required">
		              <option value=1>是</option>
		              <option value="0">否</option>
		          </select>
		       </div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">图标</label>
				<button type="button" class="layui-btn" id="test1">上传</button>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label"></label>
				<div class="layui-upload-list">
				    <img class="layui-upload-img" id="demo1" style="max-width: 100px;">
				    <p id="demoText"></p>
				 </div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">二维码</label>
				<button type="button" class="layui-btn" id="test2">上传</button>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label"></label>
				<div class="layui-upload-list">
				    <img class="layui-upload-img" id="demo2" style="max-width: 100px;">
				    <p id="demoText2"></p>
				 </div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label ">显示在</label>
					<div class="layui-input-block" >
				      <input type="checkbox" name="showin" value="A" title="AAA" id="AAA">
				      <input type="checkbox" name="showin" value="B" title="BBB" id="BBB">
				      <input type="checkbox" name="showin" value="C" title="CCC" id="CCC">
				      <input type="checkbox" name="showin" value="D" title="DDD" id="DDD">
				      <input type="checkbox" name="showin" value="E" title="EEE" id="EEE">
				    </div> 
	       </div>

			<div class="layui-form-item">
				<hr class="layui-bg-gray" />
				<label class="layui-form-label"></label>
				<div class="layui-input-inline" style="width: 272px;">
					<button class="layui-btn layui-btn-sm" lay-filter="update" lay-submit id="btnsave"><i class="layui-icon">&#xe609;</i>保存</button>
				</div>
			</div>
		</div>
	</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form','upload','layer'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form,
    	upload = layui.upload,
    	layer = layui.layer
    let id = '<%-data.id%>'
    if(id==''||id==null||typeof(id)=='undefined'){
		console.log('新增',id)
	}else{
		console.log('编辑',id,'<%-data.eshow%>')
		$('#type').val('<%-data.type%>')
		$('#eshow').val('<%-data.eshow%>')
		$('#name').val('<%-data.name%>')
		$('#ename').val('<%-data.ename%>')
		$('#url').val('<%-data.url%>')
		$('#demo1').attr('src', '<%-data.icon%>')
		$('#demo2').attr('src', '<%-data.picurl%>')
		//初始化复选框
		    	let showinstr = '<%- data.showin%>'.split(';')
		    	console.log('showinstr',showinstr)
		    	$.each(showinstr,function(i,item){
		    		if(item=='A'){
		    			$('#AAA').prop('checked',true)
		    		}
		    		if(item=='B'){
		    			$('#BBB').prop('checked',true)
		    		}
		    		if(item=='C'){
		    			$('#CCC').prop('checked',true)
		    		}
		    		if(item=='D'){
		    			$('#DDD').prop('checked',true)
		    		}
		    		if(item=='E'){
		    			$('#EEE').prop('checked',true)
		    		}
		    	})
		form.render()
	}
	//图标上传
	let uploadInst = upload.render({
	    elem: '#test1'
	    ,url: '/spatial/manage/wzljupload'
	    ,before: function(obj){
	      //预读本地文件示例，不支持ie8
	      obj.preview(function(index, file, result){
	        $('#demo1').attr('src', result); //图片链接（base64）
	      });
	    }
	    ,done: function(res){
	      console.log('upload success',res)
	      $('#demo1').attr('src', '/spatial'+(res.data)[0])
	      //上传成功
	    }
	    ,error: function(){
	      //演示失败状态，并实现重传
	      var demoText = $('#demoText');
	      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
	      demoText.find('.demo-reload').on('click', function(){
	        uploadInst.upload();
	      });
	    }
	  });
	//二维码上传
	let uploadInst1 = upload.render({
	    elem: '#test2'
	    ,url: '/spatial/manage/wzljupload'
	    ,before: function(obj){
	      //预读本地文件示例，不支持ie8
	      obj.preview(function(index, file, result){
	        $('#demo2').attr('src', result); //图片链接（base64）
	      });
	    }
	    ,done: function(res){
	      console.log('upload success',res)
	      $('#demo2').attr('src', '/spatial'+(res.data)[0])
	      //上传成功
	    }
	    ,error: function(){
	      //演示失败状态，并实现重传
	      var demoText = $('#demoText2');
	      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
	      demoText.find('.demo-reload').on('click', function(){
	        uploadInst.upload();
	      });
	    }
	  });
    form.on('submit(update)', function(data){
    	//复选框
            let showinarr = new Array();
            $("input:checkbox[name='showin']:checked").each(function(i){
                showinarr.push($(this).val())
            })
			console.log('showinarr',showinarr)
			showinarr = showinarr.join(';')
			console.log('showinarr',showinarr)
		 data.field.id = id
		 data.field.type = $('#type option:selected').val()//类别
		 data.field.name = $('#name').val()
		 data.field.ename = $('#name').val()
		 data.field.url = $('#url').val()
		 data.field.icon = $('#demo1').attr('src')
	     data.field.picurl = $('#demo2').attr('src')
	     data.field.eshow = $('#eshow option:selected').val()
	     data.field.showin = showinarr
	     console.log('submit data',data)
	     $.ajax({
			  	url:'/spatial/manage/wzljadd',
			  	type:'POST',
			  	data:data.field,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('update success')
			  			//墨绿深蓝风
						layer.alert('保存成功', {
						  skin: 'layui-layer-molv' //样式类名
						  ,closeBtn: 0
						  ,time : 2000
						}, function(){
							layer.close(frameindex);
						});	  			
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax error msg',msg)
			  	}
			  })
	     return false
    })
});
</script>
<script type="text/html" id="pdftpl">
  <a href='/spatial{{d.pdf}}' class="layui-table-link">{{d.pdfname}}</a>
</script>
</body>
</html>