<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>研究方向查看&编辑</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">名称</label>
					<div class="layui-input-inline" style="width: 200px;">
				      <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" id="name">
				    </div>
				    <label class="layui-form-label" style="width: 120px;">名称(EN)</label>
				    <div class="layui-input-inline" style="width: 350px;">
				      <input type="text" name="ename"  autocomplete="off" class="layui-input" id="ename">
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">内容</label>
				<div class="layui-input-block" id="content">
					
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">内容(EN)</label>
				<div class="layui-input-block" id="econtent">
					
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label ">显示在</label>
					<div class="layui-input-block" >
				      <input type="checkbox" name="showin" value="A" title="AAA" id="AAA">
				      <input type="checkbox" name="showin" value="B" title="BBB" id="BBB">
				      <input type="checkbox" name="showin" value="C" title="CCC" id="CCC">
				      <input type="checkbox" name="showin" value="D" title="DDD" id="DDD">
				      <input type="checkbox" name="showin" value="E" title="EEE" id="EEE">
				    </div> 
	       </div>

			<div class="layui-form-item">
				<hr class="layui-bg-gray" />
				<div class="layui-col-md-offset1">
					<a class="layui-btn layui-btn-sm" lay-filter="update" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
				</div>
			</div>
		</div>
	</form>

<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<!-- <script type="text/javascript" src="newsAdd.js"></script> -->
<script type="text/javascript">
layui.use(['jquery','layer','form','layedit'], function(){ 
    let $ = layui.$, //重点处
    	layedit = layui.layedit
    let form = layui.form,layer = layui.layer
    let frameindex = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    console.log('frameindex',frameindex)
    let id = '<%- data.id %>'
    console.log('id',id)
   
    form.on('submit(update)', function(data){
    	//复选框
            let showinarr = new Array();
            $("input:checkbox[name='showin']:checked").each(function(i){
                showinarr.push($(this).val())
            })
			console.log('showinarr',showinarr)
			showinarr = showinarr.join(';')
			console.log('showinarr',showinarr)
	  console.log('update data field',data.field);
	  //更新
	  data.field.id = id
	  data.field.content = editor1.txt.html()
	  data.field.econtent = editor2.txt.html()
	  data.field.showin = showinarr
	  $.ajax({
	  	url:'/spatial/manage/yjfxedit',
	  	type:'POST',
	  	data:data.field,
	  	dataType : "json",
	  	success:function(result){
	  		if(result.code == 0){
	  			console.log('update success')
	  			//墨绿深蓝风
				layer.alert('更新成功', {
				  skin: 'layui-layer-molv' //样式类名
				  ,closeBtn: 0
				}, function(){
					layer.close(frameindex);
				});	  			
	  		}
	  	},
	  	error:function(msg){
	  		console.log('ajax error msg',msg)
	  	}
	  })
	});

   
	var E = window.wangEditor
    var editor1 = new E('#content'),
    	editor2 = new E('#econtent')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor1.create()
    editor2.create()
    $('#name').val('<%- data.name%>')
	    $('#ename').val('<%- data.ename%>')
	    editor1.txt.html('<%- JSON.stringify(data.content).replace(/^\"|\"$/g,'') %>')
	    editor2.txt.html('<%- JSON.stringify(data.econtent).replace(/^\"|\"$/g,'') %>')

	  //初始化复选框
		    	let showinstr = '<%- data.showin%>'.split(';')
		    	console.log('showinstr',showinstr)
		    	$.each(showinstr,function(i,item){
		    		if(item=='A'){
		    			$('#AAA').prop('checked',true)
		    		}
		    		if(item=='B'){
		    			$('#BBB').prop('checked',true)
		    		}
		    		if(item=='C'){
		    			$('#CCC').prop('checked',true)
		    		}
		    		if(item=='D'){
		    			$('#DDD').prop('checked',true)
		    		}
		    		if(item=='E'){
		    			$('#EEE').prop('checked',true)
		    		}
		    	})
  				form.render()  
    
})
</script>
</body>
</html>